.section-long {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 768px;
  padding-top: 10%;
  padding-bottom: 12%;
}

.profile-img {
  position: absolute;
  left: auto;
  top: 8%;
  right: 61%;
  bottom: 0%;
  display: block;
  width: 50%;
  margin-top: 10%;
  margin-right: -50%;
}

.about-header {
  margin-bottom: 2vh;
  padding-top: 6%;
  color: #1a1919;
  position: fixed;
  left: 380px;
}

.description-static {
  position: relative;
  display: block;
  max-width: 90%;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.9em;
  font-weight: 400;
  text-decoration: none;
}

.description-long {
  max-width: 45%;
  font-family: Montserrat, sans-serif;
  line-height: 1.9em;
  font-weight: 400;
}

.quote {
  display: block;
  padding-bottom: 2%;
  font-family: 'Grandslang roman', sans-serif;
  font-size: 46px;
  line-height: 1.3em;
  font-weight: 300
}

.about-description {
  margin-bottom: 2vh;
  padding-top: 20%;
  color: #1a1919;
  position: fixed;
  left: 380px;
}
