.section-long {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 768px;
  padding-top: 10%;
  padding-bottom: 12%;
}

.profile-img {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 50%;
  margin-top: 10%;
  margin-right: -50%;
}
