<div class="about-wrapper">
  <div class="content content-about">
    <h1 class="header about-header align-left black">About</h1>
    <%= image_tag "profile_img.jpg", class:"profile-img" %>
    <div class="about-description">
      <p class="description-long">
        <span class="quote">I'm Alexandra. <br> A Backend Developer. <br></span>
        « Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. »
      </p>
    </div>
  </div>
</div>
