<div class="about-wrapper">
  <div class="content content-about">
    <h1 class="header about-header align-left black">About</h1>
    <%= image_tag "profile.png", class:"profile-img" %>
    <div class="about-description">
      <p class="description-long">
        <span class="quote">I'm Alexandra. <br> A Backend Developer. <br></span>
        I was previously an immigration lawyer who fell in love with tech and developing so I decided to become a programmer. I'm so exicted to continue learning new skills every day and to bring some girl power into the space.
      </p>

      <h2 class="about-header-small">SKILLS</h2>
      <p class="description-long">Ruby on Rails  /  SQL  /  Heroku  /  git  /  JavaScript ES6  /  PostgresQL  /  Bootstrap  /  HTML  /  CSS  /  Project Management</p>
      <h2 class="about-header-small">EXPERIENCE</h2>
      <br>
      <a href="https://drive.google.com/file/d/1_4No6XWVHi7TVYwsdOLp4J9COvmqxsfU/view"  target=”_blank” class="button w-button">My CV</a>
      <br>
      <br>
      <a href="/contact" class="about-header-small  contact-me-link"><h2 class="about-header-small">CONTACT ME</h2></a>
    </div>
  </div>
</div>
