
  <div class="contact-wrapper">
    <div class="section-left">
      <div class="content content-contact">
        <div class="intro-header">
          <h1 class="header header-large">Contact</h1>
        </div>
        <div class="intro-description">
          <p class="description is-white description-contact">Just keeping this simple.</p>
          <p class="description is-white description-contact">Email: &zwj; <a href="mailto:hedman.alexandra@gmail.com" class="link link-white">hedman.alexandra@gmail.com</a></p>
          <p class="description is-white description-contact">On the internet: &zwj; <a href="https://www.linkedin.com/in/alexandra-hedman-023aa0ab/" target="_blank" class="link link-white">LinkedIn</a> &zwj;
          <a href="https://github.com/smurfalexis" target="_blank" class="link link-white">GitHub</a>
          </p>
        </div>
      </div>
    </div>
  </div>
