<div class="container">
  <div class="wrapper-home">
    <div class="section-left">
      <div class="content content-main">
        <div class="header-mask">
         <h1 style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="header swipe-up">Alexandra Hedman</h1>
        </div>
        <div class="description-mask"><p style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="description">Backend Developer with a passion for good style.<br></p></div>
      </div>
    </div>

    <div class="section-right">
      <div class="content-right">
        <div class="content-item"><a href="/projects" class="content-link">Projects</a></div>
        <div class="content-item"><a href="/about" class="content-link">About</a></div>
        <div class="content-item"><a href="/contact" class="content-link">Contact</a></div>
      </div>
    </div>
  </div>
</div>
