<div class="container">
  <!-- navbar -->
  <div class="nav-left">
    <div class="nav-left-item">
      <a href="https://www.linkedin.com/in/alexandra-hedman-023aa0ab/" class="nav-left-link">LI</a>
    </div>
     <div class="nav-left-item">
      <a href="https://github.com/smurfalexis" class="nav-left-link">GH</a>
    </div>
    <div class="nav-line"></div>
    <div class="nav-left-item nav-year">
      <div class="year">2022</div>
    </div>
  </div>
  <!-- content -->

</div>
