<div class="home-wrapper">
  <div class="home-section-left">
    <div class="home-content-left">
      <h1 class="name">Alexandra Hedman</h1>
      <p class="home-description">Backend Developer with a passion for good style.</p>
    </div>
  </div>
  <div class="home-section-right">
    <div class="home-content-right">
      <div class="home-link-div">
        <a href="/projects" class="home-link">Projects</a>
      </div>
      <div class="home-link-div">
        <a href="/about" class="home-link">About</a>
      </div>
      <div class="home-link-div">
        <a href="/contact" class="home-link">Contact</a>
      </div>
    </div>
  </div>
</div>
