<div class="container">
  <div class="wrapper w-clearfix wf-section">
    <div class="section-left">
      <div class="project-main content content-main">
        <div class="header-mask">
          <h1 style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="header swipe-up">PROJECTS</h1>
        </div>
        <div class="description-mask"><p style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="description-projects">This is a showcase of my best work in a variety of fields, from Graphic and Web Design to Product Design and Management.<br></p></div>
        <div class="description-mask"><p style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="description-projects">The world of Digital Design has grown at an extremely rapid rate over the last 10 years and my aim has been to evolve with it. I’m learning and gaining new skills every day.<br></p></div>
      </div>
    </div>
    <div class="section-right section-long section-projects">
      <div class="w-dyn-list">
        <div role="list" class="nav w-dyn-items">
          <div style="opacity: 1; filter: blur(0px);" role="listitem" class="nav-item w-dyn-item">
            <a data-w-id="530b5ec6-8420-f58e-1965-98b4edd9a63d" href="/projects/sgmi" class="nav-link project-name is-white">SGMI</a>
            <h1 class="header header-small">– Wallet tracker on the Solana blockchain</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
