<div class="container">
  <div class="wrapper w-clearfix wf-section">
    <div class="section-left">
      <div class="project-main content content-main">
        <div class="header-mask">
          <h1 style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="header swipe-up">PROJECTS</h1>
        </div>
        <div class="description-mask"><p style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="description-projects">This is a showcase of my projects in a variety of fields, from Backend to Frontend, and Management.<br></p></div>
        <div class="description-mask"><p style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="description-projects">I'm so happy to have found my passion for developing. I aim to continue growing and learn new skills every day to give back to the community.<br></p></div>
      </div>
    </div>
    <div class="section-right section-long section-projects">
      <div class="w-dyn-list">
        <div role="list" class="nav w-dyn-items">
          <div style="opacity: 1; filter: blur(0px);" role="listitem" class="nav-item w-dyn-item">
            <a data-w-id="530b5ec6-8420-f58e-1965-98b4edd9a63d" href="/projects/sgmi" class="nav-link project-name is-white">SGMI</a>
            <h1 class="header header-small">– Wallet perfomance tracker on the Solana blockchain</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
