<div class="projects-wrapper">
  <div class="section-left">
    <div class="project-main content content-main">
      <div class="header-mask">
        <h1 class="header swipe-up">PROJECTS</h1>
      </div>
      <div>
        <p class="description-projects">This is a showcase of my projects in a variety of fields, from Backend to Frontend, and Management.<br></p>
      </div>
      <div>
        <p class="description-projects">I'm so happy to have found my passion for developing. I aim to continue growing and learn new skills every day.<br></p>
      </div>
    </div>
  </div>
  <div class="section-right section-long section-projects">
    <a href="/projects/sgmi" class="nav-link project-name is-white">SGMI</a>
    <h1 class="project-header-small">– Wallet perfomance tracker on the Solana blockchain</h1>
  </div>
</div>
