<div class="container">
  <div class="project-black-card"></div>
  <div class="project-black-card-name">
    <h1 class="project-name-large">sgmi</h1>
  </div>
  <div class="project-container">
    <div class="project-description">
      <h2 class="description-large">A wallet performance tracker for NFT holders on the Solana blockchain.</h2>
    </div>
    <div class="project-details">
      <div class="project-details-column col-role">
        <div class="header-detail">ROLE</div>
        <p class="col-detail">Project Leader</p>
        <p class="col-detail">Fullstack Developer</p>
      </div>
      <div class="project-details-column col-respo">
        <div class="header-detail">RESPONSIBILITIES</div>
        <p class="col-detail">Schema design, backend structure, researching and implementing APIs, setting up repo in GitHub, creating app in Heroku, deploying, setting up domain, design of the website, bootstrap, daily stand ups, dividing daily tasks on Trello, check ins with team members, setting and follow up deadlines.</p>
      </div>
      <div class="project-details-column col-url">
        <div class="header-detail">URL</div>
        <div class="link">
          <a href="https://www.sgmi.io" target="_blank" class="link-block w-inline-block"><p class="description-static">https://sgmi.io</p></a>
        </div>
      </div>
    </div>
  </div>


  <div class="w-richtext">
    <figure class="w-richtext-figure-type-image w-richtext-align-fullwidth" data-rt-type="image" data-rt-align="fullwidth" data-rt-max-width="2876px" style="max-width:2876px">
      <div>
        <%= image_tag "sgmi_home.png", class:"img-project" %>
      </div>
      <div>
        <%= video_tag ['sgmi_search.mp4'], controls: false, type: 'video/mp4', autoplay: :autoplay, loop: :loop, muted: :muted, class:"img-project" %>
      </div>
    </figure>
    <div class="project-content">
      <h3 class="header-detail h3-project">Background</h3>
      <p class="project-text">SGMI - Solana Is Gonna Make It - was my team's final project during the web development bootcamp at Le Wagon in Munich. I made friends early on with two guys who are high achievers just like me and we started exchanging ideas for the project early on. The idea came out of our mutual interests in NFTs and the Solana blockchain. Solana transactions are super fast and the crypto currency is relatively cheap which makes it possible for the average person to join the NFT space. Because of these benefits, many projects choose to launch their NFT collections on Solana.</p>
    </div>
    <div class="project-content">
      <h3 class="header-detail h3-project">Problem</h3>
      <p class="project-text">The problem we identified however, was that there is no way for NFT investors to check the performance of their wallet and NFTs. If an investor is interested in knowing how much money or loss they have made on their investments, a person must google the current floor price of each collection which could change every day if not more. Solana's crypto currency may also vary throughout the day which would require a nearly impossible amount of effort and time from each investor to stay updated on their investments development.</p>
    </div>
    <div class="project-content">
      <h3 class="header-detail h3-project">Solution</h3>
      <p class="project-text">Our solution was a platform where users can connect their wallet and get a clear picture of their wallet's total worth in both Solana and USD. Our speedometer tells how well the wallet is performing i.e. if you have made or lost money on your NFT's from the time you bought them. The user can also see its best performing NFTs and their NFTs with the highest floor price. Further down the page, the user can see its watchlist and all the NFTs that belongs to the connected wallet along with important data such as the current floor price of the collection.</p>
      <p class="project-text">Anyone can go to our website to browse collections and find out more about upcoming drops etc. However, if you're intrested in adding a collection to your watchlist our website will kindly ask you to create an account.</p>
    </div>
    <figure class="w-richtext-figure-type-image w-richtext-align-fullwidth" data-rt-type="image" data-rt-align="fullwidth" data-rt-max-width="2876px" style="max-width:2876px">
      <div>
        <%= video_tag ['sgmi_wallet.mp4'], controls: false, type: 'video/mp4', autoplay: :autoplay, loop: :loop, muted: :muted, class:"img-project" %>
      </div>
    </figure>
    <div class="project-content">
      <p class="project-text">I'm so extremely proud of our team and what we were able to accomplish in less than two weeks. We proved that big goals are possible to achive with excellent team work. I'm looking so much forward to continue developing the platform together and making it the best perfomance tracking tool for NFT holders.</p>
    </div>
    <figure class="w-richtext-figure-type-image w-richtext-align-fullwidth" data-rt-type="image" data-rt-align="fullwidth" data-rt-max-width="2876px" style="max-width:2876px">
      <div>
        <%= video_tag ['sgmi_collection.mp4'], controls: false, type: 'video/mp4', autoplay: :autoplay, loop: :loop, muted: :muted, playsinline: :playsinline, class:"img-project-medium" %>
      </div>
    </figure>
  </div>

  <div class="wrapper-bottom wf-section">
    <div data-w-id="4be36480-7b85-9737-e4e4-925b517b4bd6" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="content-footer">
      <p class="call-to-action">Check it out.</p>
      <a href="https://www.sgmi.io/" target="_blank" class="button w-button">https://sgmi.io</a>
    </div>
  </div>
</div>
