.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.nav-left {
  position: fixed;
  z-index: 600;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 6%;
  height: 100vh;
  padding-top: 5%;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-left-item {
  margin-bottom: 40px;
  padding-right: 15px;
  padding-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.nav-left-link {
  display: block;
  border: 0px solid #000;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #1a1919;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-left-link:hover {
  text-decoration: line-through;
  color: #1a1919;
}

.nav-line {
  width: 1px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 80px;
  background-color: #1a1919;
}

.nav-year {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 3vh;
  width: 110px;
}

.year {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
}
